* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: #f8f8f2;
    font-weight: 500;
}

#custom-workspaces {
    margin-top: 10px;
    padding: 10px 0;
    background: rgba(20, 20, 20, 0.8);
    font-family: "IBM Plex Serif", "Symbols Nerd Font", sans-serif;
    font-weight: normal;
    font-size: 17px;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

#custom-wsindex {
    transition-duration: 400ms;
    transition-property: margin;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    margin-top: 16px;
    margin-bottom: 7px;
    padding-bottom: 8px;
    font-size: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
}

#custom-wsindex.w-0 {
    margin-left: -45px;
    margin-right: 19px;
}

#custom-wsindex.w-1 {
    margin-left: -86px;
    margin-right: 55px;
}

#custom-wsindex.w-2 {
    margin-left: -135px;
    margin-right: 96px;
}

#custom-wsindex.w-3 {
    margin-left: -180px;
    margin-right: 142px;
}

#custom-wsindex.w-4 {
    margin-left: -215px;
    margin-right: 183px;
}

#custom-wsindex.w-5 {
    margin-left: -246px;
    margin-right: 219px;
}

#custom-wsindex.w-6 {
    margin-left: -282px;
    margin-right: 251px;
}

#custom-wsindex.w-7 {
    margin-left: -319px;
    margin-right: 291px;
}

#custom-wsindex.w-8 {
    margin-left: -354px;
    margin-right: 326px;
}

#custom-wsindex.w-9 {
    margin-left: -385px;
    margin-right: 359px;
}

#clock,
#custom-performance,
#custom-updates,
#custom-weather,
#network.speed,
#language,
#pulseaudio,
#custom-wifi {
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    padding: 0 10px;
    background: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

#custom-updates {
    font-size: 17px;
    padding-right: 15px;
}

#custom-wifi {
    margin-right: 10px;
}
