* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.3);
    color: #f8f8f2;
    font-weight: 500;
}

#workspaces {
    padding: 3px 0;
    padding-left: 11px;
    background-color: rgba(174, 14, 206, 0.5);
}

#workspaces button {
    transition-duration: 200ms;
    transition-property: border-radius, opacity;
    padding: 0 5px;
    border-radius: 100%;
    margin-right: 5px;
    background-color: #35053f;
    color: #bbbbbb;
    opacity: 0.5;
    font-size: 10px;
}

#workspaces button.active {
    opacity: 1;
    border-radius: 20%;
}

#workspaces button.focus {
    background-color: #35053f;
    color: #bbbbbb;
}

#workspaces button:hover {
    border-radius: 20%;
    background-color: #35053f;
    color: #bbbbbb;
}

#custom-divider-workspaces {
    padding-left: 0.1px;
    color: #ae0ece;
    font-size: 26px;
    opacity: 0.5;
    background-color: #0ea4ce;
}

#cpu,
#memory {
    padding: 0 10px;
    background-color: rgba(14, 164, 206, 0.5);
}

#custom-divider-usage {
    padding-left: 0.1px;
    color: #0ea4ce;
    font-size: 26px;
    opacity: 0.5;
    background-color: #18ce0e;
}

#custom-updates {
    transition-duration: 200ms;
    transition-property: margin-right;
    margin-right: -25px;
    font-size: 17px;
}

#custom-updates:hover {
    margin-right: 0;
}

#custom-updates,
#custom-weather {
    padding: 0 10px;
    background-color: rgba(24, 206, 14, 0.5);
}

#custom-divider-additional {
    padding-left: 0.1px;
    color: #18ce0e;
    font-size: 26px;
    opacity: 0.5;
}

#custom-divider-netspeed {
    color: #0ea4ce;
    font-size: 26px;
    opacity: 0.5;
}

#network.speed {
    padding: 0 10px;
    background-color: rgba(14, 164, 206, 0.5);
}

#custom-divider-sys {
    color: #ae0ece;
    font-size: 26px;
    opacity: 0.5;
    background-color: #0ea4ce;
}

#language,
#backlight,
#pulseaudio,
#custom-wifi,
#battery {
    padding: 0 10px;
    background-color: rgba(174, 14, 206, 0.5);
}

#battery {
    padding-right: 11px;
    color: #55ff55;
}

#battery.normal {
    color: #ffff54;
}

#battery.warning {
    color: #ffaa55;
}

#battery.critical {
    color: #ff5555;
}
