* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background: none;
}

tooltip,
menu {
    padding: 10px 0px;
    background: #1e1e2e;
    border: 1px solid #313244;
    border-radius: 10px;
}

menuitem {
    background: transparent;
    padding: 4px 10px;
    color: #cdd6f4;
}

menuitem:hover {
    background: #45475a;
    transition: background 0.2s ease;
}

tooltip label {
    padding: 10px;
    color: #cdd6f4;
}

window#waybar {
    background: transparent;
    color: #f8f8f2;
    font-weight: 500;
}

#custom-workspaces {
    margin-top: 10px;
    padding: 10px 0;
    font-family: "IBM Plex Serif", "Symbols Nerd Font", sans-serif;
    font-weight: normal;
    font-size: 17px;
}

#custom-wsindex {
    transition-duration: 400ms;
    transition-property: margin;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    margin-top: 16px;
    margin-bottom: 7px;
    padding-bottom: 8px;
    font-size: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
}

#custom-wsindex.w-0 {
    margin-left: -46px;
    margin-right: 20px;
}

#custom-wsindex.w-1 {
    margin-left: -88px;
    margin-right: 57px;
}

#custom-wsindex.w-2 {
    margin-left: -136px;
    margin-right: 97px;
}

#custom-wsindex.w-3 {
    margin-left: -181px;
    margin-right: 143px;
}

#custom-wsindex.w-4 {
    margin-left: -216px;
    margin-right: 184px;
}

#custom-wsindex.w-5 {
    margin-left: -247px;
    margin-right: 220px;
}

#custom-wsindex.w-6 {
    margin-left: -283px;
    margin-right: 252px;
}

#custom-wsindex.w-7 {
    margin-left: -321px;
    margin-right: 292px;
}

#custom-wsindex.w-8 {
    margin-left: -355px;
    margin-right: 327px;
}

#custom-wsindex.w-9 {
    margin-left: -386px;
    margin-right: 360px;
}

#clock,
#custom-performance,
#custom-updates,
#custom-weather,
#network.speed,
#tray,
#custom-workspaces,
#info {
    margin-top: 10px;
    background: rgba(20, 20, 20, 0.8);
    border: 2px solid #444;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #444;
}

#info {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
}

#clock,
#custom-performance,
#custom-updates,
#custom-weather,
#network.speed,
#language,
#pulseaudio,
#custom-wifi,
#tray {
    margin-left: 10px;
    margin-right: 0px;
    padding: 0 10px;
}

#custom-weather {
    padding-right: 0;
}

#custom-updates {
    font-size: 17px;
    padding-right: 15px;
}

#language,
#pulseaudio,
#custom-wifi,
#battery {
    margin-left: 0px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 3px;
    background-color: #ccc;
}

#custom-lock {
    padding: 0 10px;
    font-size: 17px;
}
