* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background: none;
}

tooltip,
menu {
    padding: 10px 0px;
    background: #1e1e2e;
    border: 1px solid #313244;
    border-radius: 10px;
}

menuitem {
    background: transparent;
    padding: 4px 10px;
    color: #cdd6f4;
}

menuitem:hover {
    background: #45475a;
    transition: background 0.2s ease;
}

tooltip label {
    padding: 10px;
    color: #cdd6f4;
}

window#waybar {
    background: transparent;
    color: #f8f8f2;
    font-weight: 500;
}

#custom-workspaces {
    all: unset;
    font-family: "IBM Plex Serif", "Symbols Nerd Font";
    font-weight: 500;
    padding: 0 17px;
    font-size: 19px;
    background: rgba(20, 20, 20, 0.8);
    color: #eee;
}

#custom-wsindex {
    transition-duration: 400ms;
    transition-property: margin;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    margin-top: 16px;
    margin-bottom: 7px;
    padding-bottom: 8px;
    font-size: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
}

#custom-wsindex.w-0 {
    margin-left: -37px;
    margin-right: 11px;
}

#custom-wsindex.w-1 {
    margin-left: -70px;
    margin-right: 39px;
}

#custom-wsindex.w-2 {
    margin-left: -114px;
    margin-right: 72px;
}

#custom-wsindex.w-3 {
    margin-left: -153px;
    margin-right: 116px;
}

#custom-wsindex.w-4 {
    margin-left: -187px;
    margin-right: 155px;
}

#custom-wsindex.w-5 {
    margin-left: -215px;
    margin-right: 188px;
}

#custom-wsindex.w-6 {
    margin-left: -249px;
    margin-right: 217px;
}

#custom-wsindex.w-7 {
    margin-left: -280px;
    margin-right: 252px;
}

#custom-wsindex.w-8 {
    margin-left: -306px;
    margin-right: 280px;
}

#custom-wsindex.w-9 {
    margin-left: -327px;
    margin-right: 305px;
}

#clock,
#custom-performance,
#custom-updates,
#custom-weather,
#network.speed,
#tray,
#custom-workspaces,
#info {
    margin-top: 10px;
    background: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.8);
}

#info {
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
}

#clock,
#custom-performance,
#custom-updates,
#custom-weather,
#network.speed,
#language,
#pulseaudio,
#custom-wifi,
#tray {
    margin-left: 10px;
    margin-right: 0px;
    padding: 0 10px;
}

#custom-updates {
    font-size: 17px;
    padding-right: 15px;
}

#language,
#pulseaudio,
#custom-wifi,
#battery {
    margin-left: 0px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 3px;
    background-color: #ccc;
}

#custom-lock {
    padding: 0 10px;
    font-size: 17px;
}
